<div class="container__big-card">
    <div class="big-card__pic">
         <img src="./../../../assets/Images/miles.jpeg"    
         alt=""
         height="200px"
         width="600px"
         srcset=""
         >
    </div>
    <div class="big__card_title">
        <h1>SAIU VERSÂO DO ANGULAR</h1>
    </div>
    <div class="big_card_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a varius diam. Cras consectetur 
            urna eu vehicula interdum. Curabitur sem nisi, posuere sit amet ipsum sit amet, fermentum fermentum
             quam. Duis efficitur porta enim quis sagittis. Ut venenatis lacus dolor, in pretium tellus 
             consectetur nec. Etiam ornare pretium orci, at egestas metus pharetra vitae. Quisque
        </p>
    </div>
</div>