*{
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}

ol.pokemon{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

ol.pokemon li{
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #14A06F;
    color: #fff;
    height: 100px;
}

ol.pokemon li img{
 max-width: 100%;
 height: 100px;
}


